*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial, Helvetica, sans-serif;

    background:#87CEEB;

    display:flex;

    justify-content:center;

    align-items:center;

    height:100vh;

}

.container{

    width:350px;

    background:white;

    padding:20px;

    border-radius:10px;

    text-align:center;

    box-shadow:0 0 10px rgba(0,0,0,.2);

}

input{

    width:100%;

    padding:10px;

    margin:15px 0;

    font-size:16px;

}

button{

    padding:10px 20px;

    cursor:pointer;

    border:none;

    background:#2196f3;

    color:white;

    font-size:16px;

    border-radius:5px;

}

button:hover{

    background:#1976d2;

}

#result{

    margin-top:20px;

}

p{

    margin:10px;

    font-size:18px;

}